###################################################################################################
#
#   Development/testing dependencies for the NLP project dependencies.
#
#   Created:  Dmitrii Gusev, 08.08.2025
#   Modified:
#
###################################################################################################

# - code quality libraries
flake8==7.2.0
Flake8-pyproject==1.2.3
flake8-bandit==4.1.1
flake8-bugbear==24.12.12
black==25.1.0
pylint==3.3.7
pre-commit==4.2.0
isort==6.0.1
bandit==1.8.3

# - typing libraries
mypy==1.16.0
types-six==1.17.0.20250515
types-mock==5.2.0.20250516
types-paramiko==3.5.0.20250516
types-requests==2.32.0.20250602
types-markdown==3.8.0.20250415
types-PyYAML==6.0.12.20250516
types-flake8-bugbear==24.12.12.20250416
types-python-dateutil==2.9.0.20250516

# - testing libraries
mock==5.2.0
nose2==0.15.1
pytest==8.4.0
pytest-env==1.1.5
pytest-cov==6.1.1
pytest-mock==3.14.1
pytest-variables[hjson, yaml, toml]==3.1.0

# - development-related libraries
build==1.2.2.post1
twine==6.1.0
sphinx==8.1.3
watchdog==6.0.0

# - fake data generation
Faker==37.3.0

# - readline module depending on the platform
pyreadline3==3.5.4; sys.platform == 'win32' or sys.platform == 'cygwin'
gnureadline==8.2.13; sys.platform != 'win32'
